/*build*
/*/*/*/build
## GLOBAL EXCLUSION PATTERNS ##
# dependencies
/node_modules
# compiled output
/dist
/tmp
/out-tsc
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# CMake auxiliary files:
cmake_install.cmake
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# Editors' automatic backups
*.bak
*.bk?
.*~
*~
.#*

# MacOS file http://en.wikipedia.org/wiki/.DS_Store(
.DS_Store

# Binaries:
*.a
*.o
*.obj
*.lib
*.dll
*.exe
*.so
*.so.*

# Sub-directories used by Visual Studio to put binaries:
debug
release
Debug
Release
x64

# Testsuite things:
ProgramOutput*
ErrorOutput*
CompilerOutput*
error.txt
cgal_test_with_cmake.log

# File created by the Semantic Bovinator (an Emacs package)
semantic.cache

# Python cache files
*.pyc

# Files produced by a Qt compilation/execution
.qglviewer.xml
*.moc
*.moc_parameters
*.cpp_parameters
*_moc.cpp
ui_*.h
qrc_*.cxx
*.qrc.depends
moc_*.cpp
*automoc.cpp

# Emacs file
.dir-locals.el

# We do not want those files
*.old
*.tmp
Makefile
.scm-urls

# Visual Studio produced file:
*.user
*.ilk
*.pdb
*.exe.*
*.exp
*.resource.txt
*.manifest
*.manifest.res
*.vcproj
*.vcxproj
*.vcxproj.filters
*.sln
*.depends

# The rest: "various" things that I do not know how to classify
# -- Laurent Rineau, 2013/01/11
*.ncb
*.suo
contents.obv
.xvpics
*.sbr
*.aps
Doxyfile
*.dir
gmon.*

# Unsorted file names:
