<div class="mat-elevation-z8 white-bk radius">
    <form id="login-form">
      <div layout="row" layout-align="center center">
        <span class="form-logo">Xenia</span>
      </div>
      <div class="alert alert-danger mt-3" *ngIf="errorMessage">
        <small>{{errorMessage}}</small>
      </div>
      <input type="text" class="form-control form-input" name="email" placeholder="Email" [(ngModel)]="user.email">
      <input type="password" class="form-control form-input" name="password" placeholder="Password" [(ngModel)]="user.password">
      <div layout="column">
        <button type="button" class="text-center btn btn-outline-primary" (click)="login(user)">Sign in</button>
        <small class="mt-4">Don't have an account yet ?
          <a [routerLink]="['/home/register']">Sign up</a>
        </small>
      </div>
    </form>
  </div>