<div layout="row" layout-align="space-between center" class="full-height">
  <div class="full-height">
    <app-dashboard-panel (onFileUpload) = "uploadFile($event)" [files]="files" (onFileClick)="getFileObject($event)"></app-dashboard-panel>
  </div>
  <div flex layout="row" layout-align="center center" class="full-height">
    <div flex="85" id="scene-wrapper" class="mat-elevation-z4 radius full-height">
      <app-scene [wrlFile]="wrlFile" class="full-height"></app-scene>
    </div>
  </div>
</div>