/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.full-width {
  width: 100% !important;
}

p {
  margin: 0 !important;
}

.white-bk {
  background-color: white !important;
}

.radius {
  border-radius: 5px;
}

.form-input{
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}


form{
  padding: 2em;
  min-width: 400px;
}


.form-logo{
  text-transform: uppercase;
  font-size: 1em;
}

.full-height {
  height: 100% !important; 
}

.outline-dark-blue{
  background-color: white;
  color: #292D3E;
  border: solid 1px #292D3E !important;
  text-transform: uppercase;
}
.outline-dark-blue:hover{
  background-color: #292D3E;
  color:white;
}
.alert-danger{
  max-width: 350px !important;
}