canvas { width: 50%; height: 50% }

#document-title{
    color: #252936;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 1.5em;
    text-align: center;
}
